<div class="history-list">
  <h2>Historique des actions</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Utilisateur</th>
        <th>Action</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let historyItem of historyItems">
        <td>{{ historyItem.date | date:'short' }}</td>
        <td>{{ historyItem.user }}</td>
        <td>{{ historyItem.action }}</td>
        <td>
          <a [routerLink]="['/history', historyItem.id]">Voir détails</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>