@use 'variables' as *;

.snackbar-success {
  background-color: $color-success;
  color: $color-text-light;
}

.snackbar-error {
  background-color: $color-error;
  color: $color-text-light;
}

.snackbar-info {
  background-color: $color-info;
  color: $color-text-light;
}

.snackbar-warning {
  background-color: $color-warning;
  color: $color-text-light;
}

.snackbar-debug {
  background-color: $color-debug;
  color: $color-text-light;
}
